.content-main {
  background: $white;
  padding-bottom: 30px;
  position: relative;
}

.section {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.top-arrow {
  font-size: 20px;
  color: $hot-red;
  border-bottom: none;
}
