// COLORS
$deep-red     : #492130;
$hot-red      : #e95745;
$teal-blue    : #90ebeb;
$dark-blue    : #00576e;
$dark-blue-to : #38919f;

$deep-red-to  : #411731;

$olive-green  : #ceed5e;

$pale-red     : #98838a;
$smoke-gray   : #e5e5e5;
$gray         : #ccc;
$jet-black    : #333;
$white        : #FFF;

// FONTS
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$special-font-stack: 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default; // 24px / 16px ~= 1.5

$global-radius: 3px;
$global-rounded: 1000px;

// GRID
$total-columns: 12;
$column-gutter: 30px;


$breakpoints: (small: 480px, medium: 768px, large: 1024px, xlarge: 1280px) !default;

$media-expressions: (screen: "screen",
                    print: "print",
                    handheld: "handheld",
                    retina2x: ("(-webkit-min-device-pixel-ratio: 2)", "(min-resolution: 192dpi)"),
                    retina3x: ("(-webkit-min-device-pixel-ratio: 3)", "(min-resolution: 350dpi)")
                    ) !default;


// We use these to control various global styles
$body-bg: $white;
$body-font-color: $jet-black;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$header-font-family: $body-font-family;
$header-font-weight: $font-weight-normal;
$header-font-style: normal;
$header-font-color: $jet-black;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

//Tables
$tableBorder: $smoke-gray;
$tableBackgroundAccent: lighten($gray, 13%);
$tableBackgroundHover: lighten($gray, 16%);

$tableBackgroundSelected: lighten($olive-green, 25%);
$tableBackgroundSelectedText: darken($olive-green, 25%);
